
<input type="button" value="Load Products from server" id="btnLoadProducts" />

<table class="customTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="productDataTable">
     
    </tbody>
</table>
